{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Course Management Portal</h1>
    <h2>Login</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br><br>
        <label for="password">Password:</label>
        <div class="password-wrapper">
            <input type="password" name="password" id="password" required>
            <span id="togglePassword" class="eye-icon">👁️</span>
        </div>
        <br><br>
        <button type="submit">Login</button>
    </form>
    <div class="logout-container">
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye icon
            this.textContent = type === 'password' ? '👁️' : '👁️‍🗨️';
        });
    </script>
{% endblock %}
